<ol class="round">
  <li class="one">
    <h5>Добавление конфет</h5> В списке конфет нажать кнопку "Добавить".
  </li>

  <li class="two">
    <h5>Добавление подарка</h5> Нажать на кнопку "Добавление подарка". Выбрать конфеты, указать цену и название подарка.
  </li>

  <li class="three">
    <h5>Распечатать подарок</h5> Если необходимо произвести распечатку подарка, то необходимо из списка подарков выбрать нужный
    и нажать кнопку "Просмотр". С этой страницы можно скачать подарки и распечатать их.
  </li>
</ol>
