<h1 class="title">
  Подарки
  <button class="button" [routerLink]="['/presents/new']">
    <fa-icon icon="plus"></fa-icon>
  </button>
</h1>

<div class="columns is-multiline">
  <div
    class="column is-one-third-desktop is-half-tablet"
    *ngFor="let present of presents$ | async"
  >
    <a [routerLink]="['/presents', present.id]">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{ present.name }}</p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>{{ present.price }} <fa-icon icon="ruble-sign"></fa-icon></p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<app-link-border></app-link-border>
