<ng-container *ngIf="!hasSome()">
  <button class="button" (click)="increment()">Добавить</button>
</ng-container>
<ng-container *ngIf="hasSome()">
  <div class="buttons has-addons">
    <button class="button" (click)="decrement()">
      <span class="icon">
        <fa-icon icon="minus"></fa-icon>
      </span>
    </button>
    <button class="button">{{ currentCount }}</button>
    <button class="button" (click)="increment()">
      <span class="icon">
        <fa-icon icon="plus"></fa-icon>
      </span>
    </button>
  </div>
</ng-container>
