<h1 class="title mt-5">Выбор конфет</h1>

<table class="is-hidden-mobile table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Название</th>
      <th>Производитель</th>
      <th>Цена</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let candy of candies$ | async"
      [class.has-background-primary]="isSelected(candy)"
    >
      <td>{{ candy.name }}</td>
      <td>{{ candy.firm }}</td>
      <td>{{ candy.price | price }}</td>
      <td>
        <app-present-item-control
          [currentCount]="items.get(candy.id)?.count || 0"
          (newCount)="onItemChange(candy, $event)"
        ></app-present-item-control>
      </td>
    </tr>
  </tbody>
</table>

<div class="is-hidden-tablet columns is-multiline">
  <div class="column" *ngFor="let candy of candies$ | async">
    <div class="card" [class.has-background-primary]="isSelected(candy)">
      <header class="card-header">
        <div class="card-header-title">{{ candy.name }}</div>
      </header>
      <div class="card-content">
        <div class="content">
          <div><strong>Производитель: </strong>{{ candy.firm }}</div>
          <div><strong>Цена: </strong>{{ candy.price | price }}</div>
        </div>
      </div>
      <footer class="card-footer">
        <app-present-item-control class="card-footer-item"
          [currentCount]="items.get(candy.id)?.count || 0"
          (newCount)="onItemChange(candy, $event)"
        ></app-present-item-control>
      </footer>
    </div>
  </div>
</div>
