<div class="modal-body">
  <p>Удалить?</p>
</div>
<div class="modal-footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-outline-dark float-left" (click)="delete()">
            <fa-icon icon="trash"></fa-icon> Да
          </button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-outline-secondary float-right" (click)="modal.dismiss()">
            <fa-icon icon="times"></fa-icon> Отмена
          </button>
      </div>
    </div>
  </div>
</div>
