<div class="modal-body">
  <p>Удалить?</p>
</div>
<div class="modal-footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-outline-dark float-left" (click)="delete()">
            <i class="fas fa-trash" aria-hidden="true"></i> Да
          </button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-outline-secondary float-right" (click)="modal.dismiss()">
            <i class="fas fa-times" aria-hidden="true"></i> Отмена
          </button>
      </div>
    </div>
  </div>
</div>
