<h1 class="title" *ngIf="!isEdit">Новая конфета</h1>
<h1 class="title" *ngIf="isEdit">{{(editedCandy$ | async).name}}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="field">
    <label class="label">Название</label>
    <div class="control">
      <input class="input" formControlName="name" appFormControl>
    </div>
  </div>

  <div class="field">
    <label class="label">Производитель</label>
    <div class="control">
      <input class="input" formControlName="firm" appFormControl>
    </div>
  </div>

  <div class="field">
    <label class="label">Цена</label>
    <div class="control">
      <input type="number" class="input" placeholder="Пример: 123.12" formControlName="price" appFormControl>
    </div>
  </div>

  <div class="field">
    <label class="label">Порядок</label>
    <div class="control">
      <input type="number" class="input" placeholder="Пример: 123.1" formControlName="order" appFormControl>
    </div>
  </div>

  <div class="field is-grouped">
    <div *ngIf="!isEdit" class="control">
      <button type="submit" class="button is-primary">
        <span class="icon">
          <fa-icon icon="plus"></fa-icon>
        </span>
        <span>Добавить</span>
      </button>
    </div>
    <div *ngIf="isEdit" class="control">
      <button type="submit" class="button is-primary">
        <span class="icon">
          <fa-icon icon="pencil-alt"></fa-icon>
        </span>
        <span>Сохранить</span>
      </button>
    </div>
    <div *ngIf="isEdit" class="control">
      <button type="button" class="button" (click)="openDeleteForm()">
        <span class="icon">
          <fa-icon icon="trash"></fa-icon>
        </span>
        <span>Удалить</span>
      </button>
    </div>
    <div class="control">
      <button type="button" class="button" routerLink="/candies">
        <span class="icon">
          <fa-icon icon="times"></fa-icon>
        </span>
        <span>Отмена</span>
      </button>
    </div>
  </div>
</form>