<div *ngIf="hasError && control.errors.required" class="invalid-feedback">
  Обязательно для заполнения
</div>
<div *ngIf="hasError && control.errors.min" class="invalid-feedback">
  Меньше допустимого
</div>
<div *ngIf="hasError && control.errors.maxFractionLength" class="invalid-feedback">
  Неверный формат
</div>
<div *ngIf="hasError && control.errors.notEmpty" class="invalid-feedback">
  Обязательно для заполнения
</div>
<div *ngIf="hasError && control.errors.maxLength" class="invalid-feedback">
  Превышает максимальную длину
</div>
