<nav class="navbar is-fixed-top is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="/assets/presents.svg" width="30" height="30" />
    </a>
    <a
      role="button"
      class="navbar-burger"
      (click)="toggleMenu()"
      [class.is-active]="menuOpened"
    >
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="navbar-menu" [class.is-active]="menuOpened">
    <div class="navbar-start">
      <a
        *ngFor="let link of links"
        class="navbar-item"
        (click)="closeMenu()"
        routerLink="{{ link.route }}"
        routerLinkActive="is-active"
        >{{ link.text }}</a
      >
    </div>
  </div>
</nav>
