<h2>Конфета</h2>

  <fieldset>
    <legend>Конфета</legend>

    <div>
      <label for="name">Название</label>
    </div>
    <div>
      <input id="name" name="name" type="text" ng-model="candy.name">
    </div>

    <div>
      <label for="firm">Производитель</label>
    </div>
    <div>
      <input id="firm" name="firm" type="text" ng-model="candy.firm">
    </div>

    <div>
      <label for="price">Цена</label>
    </div>
    <div>
      <input id="price" name="price" type="text" ng-model="candy.price">
    </div>
    
    <div>
      <label for="order">Порядок</label>
    </div>
    <div>
      <input id="order" name="order" type="text" ng-model="candy.order">
    </div>

    <p>
      <input type="submit" value="Сохранить" />
    </p>
  </fieldset>

<div>
  <a href="#/candy-list">Назад к списку</a>
</div>