<h2>Конфеты</h2>

<div id="top"></div>

<div id="sticky">
  <a ng-click="scrollTo('bottom')">Вниз</a>
  <a ng-click="scrollTo('top')">Наверх</a>
</div>

<p>
  <a href="#/candy-add">Добавить</a>
</p>
<table class="entity">
  <tr>
    <th>Название</th>
    <th>Производитель</th>
    <th>Цена</th>
    <th>Порядок</th>
    <th colspan="2"></th>
  </tr>

  <tr ng-repeat="candy in candies">
    <td>{{candy.name}}</td>
    <td>{{candy.firm}}</td>
    <td>{{candy.price}}</td>
    <td>{{candy.order}}</td>
    <td>
      <a href="#/candy/{{candy.id}}/edit">Редактировать</a>
    </td>
    <td>
      <a href="#/candy/{{candy.id}}/remove" ng-confirm-click="Точно удалить?">Удалить</a>
    </td>
  </tr>
</table>
<div id="bottom"></div>