<h2>Новая конфета</h2>

  <fieldset>
    <legend>Новая конфета</legend>

    <div>
      <label for="name">Название</label>
    </div>
    <div>
      <input name="name" type="text" value="">
    </div>

    <div>
      <label for="firm">Производитель</label>
    </div>
    <div>
      <input name="firm" type="text" value="">
    </div>

    <div>
      <label for="price">Цена</label>
    </div>
    <div>
      <input name="price" type="text" value="">
    </div>
    
    <div>
      <label for="order">Порядок</label>
    </div>
    <div>
      <input name="order" type="text" value="">
    </div>

    <p>
      <input type="submit" value="Добавить" />
    </p>
  </fieldset>

<div>
  <a href="#/candy-list">Назад к списку</a>
</div>