<section class="featured">
  <div class="content-wrapper">
    <p>ИП Осипова</p>
  </div>
</section>

<h3>Рекомендуются следующие действия:</h3>
<ol class="round">
  <li class="one">
    <h5>Добавление подарков</h5> Нажать на кнопку "Добавление подарка". Отобрать содержимое подарка, указать цену и, если необходимо, название подарка.
  </li>

  <li class="two">
    <h5>Просмотр готовых подарков</h5> При нажатии на кнопку "Список подарков" отображаются все добавленные ранее подарки.
    </li>

  <li class="three">
    <h5>Распечатать подарок</h5> Если необходимо произвести распечатку подарку, то необходимо из списка подарков выбрать нужный и нажать кнопку "Просмотр". На появившейся странице отображается вся доступная информация о подарке. Для печати необходимо нажать на кнопку "Скачать" => Файл => Печать.
  </li>
</ol>