<h2>Список подарков</h2>

<a id="top"></a>

<div id="sticky">
  <a href ng-click="scrollTo('bottom')">Вниз</a>
  <a href ng-click="scrollTo('top')">Наверх</a>
</div>

<table class="entity">
  <tr>
    <th>Название</th>
    <th>Цена</th>
    <th colspan="3"></th>
  </tr>

  <tr ng-repeat="present in presents">
    <td>{{present.name}}</td>
    <td>{{present.price}}</td>
    <td>
      <a href="#/present/{{present.id}}">Просмотр</a>
    </td>
    <td>
      <a href="#/present/{{present.id}}/add">Создать на основе</a>
    </td>
    <td>
      <a href="#/present/{{present.id}}/remove" ng-confirm-click="Точно удалить?">Удалить</a>
    </td>
  </tr>
</table>

<a id="bottom"></a>