<h2>Подарок</h2>

<fieldset>
  <legend>Подарок</legend>

  <div>
  <label>Название</label>
  </div>
  <div>{{present.name}}</div>

  <div>
  <label>Цена</label>
  </div>
  <div>{{present.price}}</div>
  
  <div>
  <label>Оригинальная цена</label>
  </div>
  <div>{{present.truePrice}}</div>
</fieldset>

<div>
  <a href="/presents/{{present.id}}/publicReport">Скачать без цены</a>
</div>
<div>
  <a href="/presents/{{present.id}}/privateReport">Скачать с ценой</a>
</div>

<table class="entity">
  <tr>
    <th>Название</th>
    <th>Производитель</th>
    <th>Цена</th>
    <th>Количество</th>
  </tr>

  <tr ng-repeat="candy in present.candies">
    <td>{{candy.name}}</td>
    <td>{{candy.firm}}</td>
    <td>{{candy.price}}</td>
    <td>{{candy.count}}</td>
  </tr> 
</table>