<script>
  $(document).ready(function () {
    $("tr.maySelected").click(function (e) {
      if ($(e.target).closest('input[type="number"]').length > 0) {
        //Editbox clicked
        return;
      } else if ($(e.target).closest('input[type="checkbox"]').length > 0) {
        //Chechbox clicked
      } else {
        //Clicked somewhere else
        var checkbox = $(this).find("input[type='checkbox']");
        checkbox.attr('checked', !checkbox.attr('checked'));
      }

      updateRow(this);
    });
  });

  function updateRow(row) {
    if ($(this).hasClass("selectedRow")) {
      $(row).removeClass("selectedRow");

      //delete selected row
      //TODO
    } else {
      $(row).addClass("selectedRow");

      //add selected row
      //TODO
    }
  }
</script>

<h2>Добавление подарка</h2>
<a id="top"></a>
  
<div id="sticky">
  <a href ng-click="scrollTo('bottom')">Вниз</a>
  <a href ng-click="scrollTo('top')">Наверх</a>
</div>
  
<fieldset>
  <legend>Подарок</legend>
  <div>
    <label for="name">Название</label>
  </div>
  <div>
    <input id="name" name="name" type="text" value="">
  </div>

  <div>
    <label for="price">Цена</label>
  </div>
  <div>
    <input id="price" name="price" type="text" value="">
  </div>

  <p>
    <input type="submit" value="Добавить" />
  </p>
</fieldset>

<table class="entity">
  <tr>
    <th></th>
    <th>Название</th>
    <th>Производитель</th>
    <th>Цена</th>
    <th>Количество</th>
  </tr>

  <tr ng-repeat="candy in candies" id="{{candy.id}}" ng-class="$candy.checked ? 'selectedRow' : ''" class="maySelected">
    <td>
      <input type="checkbox" name="candyId" ng-value="{{candy.checked}}">
    </td>
    <td>{{candy.name}}</td>
    <td>{{candy.firm}}</td>
    <td class = "price">{{candy.price}}</td>
    <td class = "num">
      <input name="count" type="number" ng-value="1">
    </td>
  </tr>
</table>

<hr/>
<hr/>
<hr/>
<hr/>
<a id="bottom"></a>
<table id="selectedCandies" class="entity">
  <tr>
    <td colspan="3">Выбрано :</td>
    <td id="numSelected">{{selectedCandies.length}}</td>
  </tr>
  <tr>
    <td colspan="3">Сумма :</td>
    <td id="priceSelected">{{getSum()}}</td>
  </tr>
  <tr>
    <th>Название</th>
    <th>Производитель</th>
    <th>Цена</th>
    <th>Количество</th>
  </tr>

  <tr ng-repeat="candy in selectedCandies" id="selected_{{candy.id}}">
    <td>{{candy.name}}</td>
    <td>{{candy.firm}}</td>
    <td class = "price">{{candy.price}}</td>
    <td class = "num">{{candy.count}}</td>
  </tr> 
</table>