<h1 class="title">
  Подарки
  <button class="button" [routerLink]="['/presents/new']">
    <span class="icon">
      <fa-icon icon="plus"></fa-icon>
    </span>
  </button>
</h1>

<table class="is-hidden-mobile table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Название</th>
      <th>Цена</th>
      <th>Позиций</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let present of presents$ | async">
      <td>{{ present.name }}</td>
      <td>{{ present.price | price }}</td>
      <td>{{ present.items.length }}</td>
      <td>
        <a [routerLink]="['/presents', present.id]" class="button is-text">
          <span class="icon">
            <fa-icon icon="eye"></fa-icon>
          </span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="is-hidden-tablet columns is-multiline">
  <div class="column" *ngFor="let present of presents$ | async">
    <a [routerLink]="['/presents', present.id]">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{ present.name }}</p>
        </header>
        <div class="card-content">
          <div class="content">
            <p><strong>Цена: </strong>{{ present.price | price }}</p>
            <p><strong>Позиций: </strong>{{ present.items.length }}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<app-link-border></app-link-border>
