<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#header-navbar-collapse"
      aria-controls="header-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <a class="navbar-brand" href="#">Presents</a>

    <div class="collapse navbar-collapse" id="header-navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Справка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Конфеты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Добавление подарка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Список подарков</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
