body {
  padding-top: 5rem;
}

.btn-icon:active,
.btn-icon:hover,
.btn-icon:focus {
  color: #757575;
  background-color: #c3c3c3;
  border-color: #aeaeae;
}

.btn-icon {
  color: #44484B;
}

.tooltip.show {
  opacity: .7
}
