<div class="columns">
  <div class="column is-two-fifths">
    <h1 class="title">Новый подарок</h1>

    <p *ngIf="successAdd" type="success">Добавлено</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label">Название</label>
        <div class="control">
          <input class="input" formControlName="name" appFormControl>
        </div>
      </div>
      <div class="field">
        <label class="label">Цена</label>
        <div class="control">
          <input class="input" type="number" placeholder="Пример: 123.12" formControlName="price" appFormControl>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">
            <span class="icon">
              <fa-icon icon="plus"></fa-icon>
            </span>
            <span>Добавить</span>
          </button>
        </div>
      </div>
      <div class="field">
        <label class="label">Состав</label>
        <table formArrayName="items" class="table" appFormControl>
          <tbody>
            <tr>
              <td colspan="3">Количество</td>
              <td>{{present.items.length}}</td>
            </tr>
            <tr>
              <td colspan="3">Сумма</td>
              <td>{{present.cost}}</td>
            </tr>
            <tr>
              <th>Название</th>
              <th>Производитель</th>
              <th>Цена</th>
              <th>Кол-во</th>
            </tr>
  
            <tr *ngFor="let item of itemsForm.controls; let i = index" [formGroupName]="i">
              <td>{{item.controls.candy.controls.name.value}}</td>
              <td>{{item.controls.candy.controls.firm.value}}</td>
              <td>{{item.controls.candy.controls.price.value}}</td>
              <td>
                <input type="number" min="1" class="form-control" formControlName="count" appFormControl>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>

  <div class="column">
    <app-present-new-select-candy [selectedCandies]="present.candies" (selected)="addItem($event)"
      (unselected)="removeItem($event)"></app-present-new-select-candy>
  </div>
</div>