<div class="row">
  <div class="col-md-6">
    <h1>Добавление подарка</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Название</label>
        <input class="form-control" id="name" formControlName="name" appFormControl>
        <div *ngIf="form.controls.name.invalid && form.controls.name.errors.empty" class="invalid-feedback">
          Обязательно для заполнения
        </div>
        <div *ngIf="form.controls.name.invalid && form.controls.name.errors.maxLength" class="invalid-feedback">
          Превышает максимальную длину (50 символов)
        </div>
      </div>
      <div class="form-group">
        <label for="price">Цена</label>
        <input type="number" placeholder="Пример: 123.12" class="form-control" id="price" formControlName="price" appFormControl>
        <div *ngIf="form.controls.price.invalid && form.controls.price.errors.required" class="invalid-feedback">
          Обязательно для заполнения
        </div>
        <div *ngIf="form.controls.price.invalid && form.controls.price.errors.pattern" class="invalid-feedback">
          Неверный формат
        </div>
      </div>

      <label for="items">Состав</label>
      <table id="items" class="table table-sm table-bordered">
        <tr>
          <th>Название</th>
          <th>Производитель</th>
          <th>Цена</th>
          <th>Количество</th>
        </tr>

        <tr *ngFor="let item of present.items;let index = index">
          <td>{{item.candy.name}}</td>
          <td>{{item.candy.firm}}</td>
          <td>{{item.candy.price}}</td>
          <td>
            <input type="number" class="form-control" formControlName="count" appFormControl>
            <div *ngIf="form.controls.count.invalid && form.controls.count.errors.required" class="invalid-feedback">
              Обязательно для заполнения
            </div>
            <div *ngIf="form.controls.count.invalid && form.controls.count.errors.pattern" class="invalid-feedback">
              Неверный формат
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">Сумма :</td>
          <td>{{present.cost}}</td>
        </tr>
      </table>

      <button type="submit" class="btn btn-outline-dark float-left">
        <i class="fa fa-plus" aria-hidden="true"></i> Добавить
      </button>
    </form>
  </div>

  <div class="col-md-6">
    <h1>Выбор конфет</h1>
    <table class="table table-hover table-striped">
      <tr>
        <th>Название</th>
        <th>Производитель</th>
        <th>Цена</th>
      </tr>

      <tr *ngFor="let candy of orderedCandies" (click)="select(candy)" [class.table-dark]="present.hasCandy(candy)">
        <td>{{candy.name}}</td>
        <td>{{candy.firm}}</td>
        <td>{{candy.price}}</td>
      </tr>
    </table>
  </div>
</div>
