<h1 class="title">
  Конфеты
  <button class="button" [routerLink]="['/candies/new']">
    <fa-icon icon="plus"></fa-icon>
  </button>
</h1>

<div class="columns is-multiline">
  <div
    class="column is-one-fifth-desktop is-half-tablet"
    *ngFor="let candy of candies$ | async"
  >
    <a [routerLink]="['/candies', candy.id]">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{ candy.name }}</p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>{{ candy.firm }}</p>
            <p>{{ candy.price }} <fa-icon icon="ruble-sign"></fa-icon></p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<app-link-border></app-link-border>
