<h1 class="title">
  Конфеты
  <button class="button" [routerLink]="['/candies/new']">
    <span class="icon">
      <fa-icon icon="plus"></fa-icon>
    </span>
  </button>
</h1>

<table class="is-hidden-mobile table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Название</th>
      <th>Производитель</th>
      <th>Цена</th>
      <th>Порядок</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candy of candies$ | async">
      <td>{{ candy.name }}</td>
      <td>{{ candy.firm }}</td>
      <td>{{ candy.price | price }}</td>
      <td>{{ candy.order }}</td>
      <td>
        <a [routerLink]="['/candies', candy.id]" class="button is-text">
          <span class="icon">
            <fa-icon icon="eye"></fa-icon>
          </span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="is-hidden-tablet columns is-multiline">
  <div class="column" *ngFor="let candy of candies$ | async">
    <a [routerLink]="['/candies', candy.id]">
      <div class="card">
        <header class="card-header">
          <div class="card-header-title">{{ candy.name }}</div>
        </header>
        <div class="card-content">
          <div class="content">
            <div><strong>Производитель: </strong>{{ candy.firm }}</div>
            <div><strong>Цена: </strong>{{ candy.price | price }}</div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<app-link-border></app-link-border>
